@import "/node_modules/element-plus/dist/index.css";

:root {
  --container-padding: 10px;
  --container-max-width: 1460px;
  --el-transition-duration: 0.4s;

  --header-height: 57.5px;

  --header-red: #912105;
  --dark-block-bg: #1f2233;
  --light-block-bg: #25273e;
}

*{
  scroll-margin-top: var(--header-height);
}

html,body {
  font-family: Montserrat, sans-serif !important;
  scroll-behavior: smooth;
}
